---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=app_id&app_key=app_key&q=Us2&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Wed, 22 Mar 2023 21:23:15 GMT
[...]
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=app_id&app_key=app_key&q=Us2&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Thu, 23 Mar 2023 18:14:49 GMT
recorded_with: VCR 6.1.0
